{% load static i18n %}

{% block location_css %}
    <link rel="stylesheet" href="/static/geolocation/css/location.css"/>
{% endblock %}

{% block content %}
    <div id="location" class="location stripe__right">{% trans "Ваш город" %}:
        <span id="location__text" data-toggle="tooltip">{% trans "Определяется" %}...</span>
        <a href="#location__popover_content" id="location__change_link" class="location__popover_link location__pseudolink hidden">
            {% trans "Изменить" %}
        </a>
        <a href="#a" id="location__yes_link" class="location__popover_link location__pseudolink hidden">{% trans "Да" %}</a>
        <a href="#location__popover_content" id="location__no_link" class="location__popover_link location__pseudolink hidden">
            {% trans "Нет" %}
        </a>
        <div id="location__popover_content" class="location__popover_content" style="display: none">
            <h5>{% trans "Ваш населённый пункт" %}</h5>
            <input type="text" name="city" placeholder="Населённый пункт" id="location__city_input">
            <select id='location__region_select'>
                <option value="" disabled selected>{% trans "Регион" %}</option>
                {% for reg in regions %}
                    <option value="{{ reg }}">{{ reg }}</option>
                {% endfor %}
            </select>
            <button id="location__button">{% trans "Запомнить" %}</button>
            <a class="close-location-popup" href="javascript:;">×</a>
        </div>
    </div>
{% endblock %}

{% block location_js %}
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="/static/geolocation/js/libs/jquery.min.js" type="text/javascript"></script>
    <script src="/static/geolocation/js/libs/jquery.form.min.js" type="text/javascript"></script>
    <script src="/static/geolocation/js/libs/jquery.fancybox.pack.js" type="text/javascript" defer></script>
    <script src="/static/geolocation/js/libs/js.cookie.js" type="text/javascript" defer></script>
    <script src="/static/geolocation/js/location.js" type="text/javascript" defer></script>
{% endblock %}
